<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2">

<section>
  <p class="mb-4">Commodo nisi nulla nostrud laboris nulla sint do commodo magna nisi culpa occaecat eiusmod. Ex voluptate fugiat est
    nulla dolore id. Sit labore aliqua sint do eu commodo non aliquip. Quis aute velit pariatur aliqua aliquip sunt
    cupidatat voluptate consectetur. Aute cupidatat amet amet sit non aute. Est ex cupidatat ad esse non magna nulla
    reprehenderit deserunt qui qui do elit. Velit aliquip do incididunt consectetur non aliquip id ipsum do exercitation
    et labore laborum dolore.</p>
</section>
